.services
    margin-bottom: 120px
    margin-top: 87px
    // position: relative
    .container
        position: relative
    &__header
       display: flex
       margin-bottom: 65px
    &__title
        margin-right: 60px
    &__subtitle
        font-size: 16px
        line-height: 20px
        color: rgba(0, 0, 0, 0.69)
        max-width: 400px
        width: 100%
        display: flex
        align-items: center
    &__footer
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
    &__list
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
    &__item
        box-sizing: border-box
        max-width: 410px
        width: 100%
        display: flex
        flex-direction: column
        text-align: center
        align-items: center
        justify-content: center
        background: $white-color
        box-shadow: 0px 0px 74px $main-color
        border-radius: 20px
        padding: 38px 40px 
        height: 310px
        &-big
            margin: 0 30px
        &-small
            min-height: 236px
            height: 100%
        &-text
            display: none
            max-width: 330px
            width: 100%
            font-size: 15px
            line-height: 132.6%
            text-align: justify
            margin-bottom: 32px
            font-weight: 300
        &-description
            font-weight: 300
            font-size: 15px
            line-height: 132.6%
            text-align: justify
        &-img
            margin-bottom: 27px
        &-button-group
            width: 100%
            display: flex
            justify-content: space-around 
        &-button
            border: 1px solid rgba(0, 0, 0, 0.25)   
            border-radius: 54px
            padding: 10px 25px
            cursor: pointer
        &-title
            max-width: 264px
            width: 100%
            margin-bottom: 33px
            font-weight: 500
            text-align: center
            justify-content: center
    .ball
        right: 0px
        top: -250px
        position: absolute
        z-index: 40 
        overflow: visible

@media screen and (max-width: 1370px)
    .services
        .container
            margin: 0 5px
        .ball
            width: 151px            
            height: 151px
            top: -190px
        &__header
            flex-direction: column
            justify-content: center
            align-items: center
            margin-bottom: 40px
        &__item
            max-width: 320px
            width: 100%
            padding: 27px 30px 38px
            text-align: center
            align-items: center
            justify-content: center
            display: flex
            flex-direction: column
            box-shadow: 0px 0px 44px $main-color
            &-big
                margin: 0 10px
        &__title
            margin: 0
            margin-bottom: 17px
        &__subtitle
            text-align: center

@media screen and (max-width: 1060px)
    .services
        &__footer
            max-width: 320px
            width: 100%
            align-items: center
            margin: auto
        &__list
            flex-direction: row
        &__item
            margin-bottom: 20px
            box-shadow: none
            &:last-child
                margin-bottom: 0px
            &-big
                margin: 15px  0 
            &-title
                font-size: 20px
        .slider     
            &__counter
                position: absolute
                max-width: 320px
                width: 100%
                bottom: -50px
                