@import "contact"
@import "first-screen"
@import "services"
@import "development-stages"
@import "price"
@import "tasks"
@import "order-application"

body
    background: #FEF4FF
    position: relative
    font-family: 'Roboto', sans-serif
.header
    margin: 22px 0
.footer
    margin-bottom: 70px
.blue
    a
        color: #fff
    background-color: #3980FF
.w
    color: #FFFFFF
.red
    a
        color: #fff
    background-color:  #EB5757
.dark-blue
    background-color:  #0C4AB3
a
    cursor: pointer
    text-decoration: none
.container
    padding: 0
    max-width: 1288px
    // width: 100%
    margin: 0 auto

.container-fluid
    border-radius: 20px 
    max-width: 1733px
    // width: 100%
    margin: 0 auto
.title
    font-size: 50px
    line-height: 103.1%
    font-weight: 500
.button
    max-width: 270px
    font-weight: 500
    padding: 24px 43px
    border-radius: 10px
    border: none 
    color: #fff
    a
        cursor: pointer
        text-decoration: none   

@media screen and (max-width: 1370px)
    .title
        font-size: 39px
        line-height: 103.1%
@media screen and (max-width: 1040px)
    .title
        font-size: 32px
        text-align: center

